server:
  port: 5555

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
            allowedHeaders: "*"
      routes:
        - id: core-service
          uri: http://localhost:8181
          predicates:
          - Path=/core/**

        - id: person-service
          uri: http://localhost:8182
          predicates:
          - Path=/person/**

        - id: auth-service
          uri: http://localhost:8188
          predicates:
            - Path=/auth/**
#          filters: #ToDo
#            -
